<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block javascripts %}
            {% javascripts '@POSBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                '@POSBundle/Resources/public/css/*'%}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets%}
        {% endblock stylesheets %}

        <title>{% block title %}Test Application{% endblock %}</title>

    </head>

    <body>

        <div class="container-fluid">
            <section>
                <h1>test</h1>

            </section>

            <section>
                {% block content %}Test Application{% endblock %}

            </section>

            <section>
                {% block category %}Test Application{% endblock %}

            </section>


        </div>

    </body>


</html>