<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block javascripts %}
            {% javascripts '@POSBundle/Resources/public/assets/scss/bootstrap/assets/javascripts/bootstrap.js'
                            '@POSBundle/Resources/public/assets/js/*'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite,scssphp'
                '@POSBundle/Resources/public/assets/scss/bootstrap/assets/stylesheets/_bootstrap.scss'
                '@POSBundle/Resources/public/assets/scss/font-awesome/scss/font-awesome.scss'

            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets%}
        {% endblock stylesheets %}

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container-fluid">

            {% block message %}{% endblock %}


            <section>
                {% block category %}{% endblock %}

            </section>

            <section>
                {% block form_container %}Test Application{% endblock %}

            </section>



            <section>
                {% block category_list %}{% endblock %}

            </section>


            <section>
                {% block content %}{% endblock %}

            </section>




        </div>

    </body>


</html>